<!--

Django templates contain HTML code with some special syntax that allows us to insert dynamic content.
Generally, we don't implement Python logic here. Instead, we use the features of Django Template Language (DTL)

-->
{% extends "base.html" %}


{%block page_title%}{{month_name | title}}{% endblock %}


{%block content%}
{% include "challenges/includes/header.html" %}
<!-- Using title feature of DTL -->
    <h1>{{month_name | title}}</h1>
    {%if text is not None%}
    <!-- Pointing to the key in the context -->
    <h2>{{text}}</h2>
    {% else %}
    <p>No challenges available for this month. Take a break!</p>
    {% endif %}
{% endblock %}
