<!--

Django templates contain HTML code with some special syntax that allows us to insert dynamic content.
Generally, we don't implement Python logic here. Instead, we use the features of Django Template Language (DTL)

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title | title}}</title>
</head>

<body>
<!-- Using title feature of DTL -->
    <h1>{{month_name | title}}</h1>
    <!-- Pointing to the key in the context -->
    <h2>{{text}}</h2>
</body>

</html>