{% extends "base.html" %}
{% comment %} Since we are extending the base template, we can get rid of the boilerplate code & HTML tags outside of the blocks {% endcomment %}
{% block page_title %}All Challenges{% endblock %}


    {% block content %}
{% include "challenges/includes/header.html" %}
   <ul>
    {% for month in months %}
    {% comment %}# We use {%} in DTL. Check docs for DTL tags. {% endcomment %}
    {% comment %}* Check docs for the URL tag {% endcomment %}
     <li><a href="{% url 'monthly_challenge' month %}">{{ month | title }}</a></li>
    {% comment %} We use endfor to end the block of code (for loop, in this case) in DTL {% endcomment %}
    {% endfor %}
   </ul>
   {% endblock %}
