<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} > Template Inheritance in DTL {% endcomment %}
    {% comment %} Block tag is used to define a block of content that can be injected with other/child templates {% endcomment %}
    <title>{% block page_title %}{% endblock %}</title>
</head>

<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>